# See https://help.github.com/ignore-files/ for more about ignoring files.

# Hardhat files
cache
artifacts
coverage.json

## Hardhat typechain bindings/types
typechain
typechain/**
typechain-types
typechain-types/**

# Hardhat deploy files
deployments/localhost
deployments/hardhat
deployments/*/solcInputs/

# Dependencies
node_modules/

# Testing
/coverage.json
/coverage/

# Production
/build/

# Logs
/yarn-debug.log*
/yarn-error.log*

# dotenv environment variables file
.env

# Editors
/.vscode/
/.idea/*

# Misc
/.DS_Store
